{% extends "base.html" %}
{% block title %}Mis Reservas - Barbería Elite{% endblock %}

{% block content %}
<div class="container py-5">
  <h3 class="mb-4">Mis Reservas</h3>
  <table class="table table-striped align-middle">
    <thead class="table-dark">
      <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Barbero</th>
        <th>Servicio</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for cita in citas %}
        <tr>
          <td>{{ cita.disponibilidad.fecha }}</td>
          <td>{{ cita.disponibilidad.hora }}</td>
          <td>{{ cita.disponibilidad.barbero.usuario.get_full_name|default:cita.disponibilidad.barbero.usuario.username }}</td>
          <td>{{ cita.servicio.nombre}}</td>
          <td>
            {% if cita.estado == "pendiente" %}
              <span class="badge bg-warning text-dark">Pendiente</span>
            {% elif cita.estado == "confirmada" %}
              <span class="badge bg-info">Confirmada</span>
            {% elif cita.estado == "completada" %}
              <span class="badge bg-success">Completada</span>
            {% else %}
              <span class="badge bg-danger">Cancelada</span>
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="text-center">No tienes reservas registradas.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
